/**
*
* projekt :: glajtem.pl
* 2015-01-06
* 2014-03-22
*
* aleproste.pl :: Dariusz Golczewski
*
*/

* {
	margin: 0;
	padding: 0;
	font: normal 12px /160% Verdana, Tachoma, Helvetica, sans-serif;
	text-decoration: none;
	outline: none;
	border: none;
	list-style: none;
	color: #303030;
	/*color: #4E4E4E; */
	/*letter-spacing: 0.5px; */
	/*filter: gray; */
}

div, blockquote {position: relative;}

body {}

.akapit {margin-bottom: .5em;	text-indent: 1em;	max-width: 99%; font-size: 1.2em;}


.b {font-weight: bold; font-size: 1.1em;}
.l {color: #000; font-weight: bold; font-size: 1.3em;}
.p {color: #960; font-weight: bold;}
.r {color: #C00;}
.n {color: #00F;}
.g {color: #090;}

.ce {
	display: block;
	width: 100%;
	margin: .3em 0;
	text-align: center;
}

.podpis {
	display: block;
	position: relative;
	width: 90%;
	margin: 1em auto;
	text-align: right;
	letter-spacing: 1px;
}

ul.bbcode {width: 90%; margin: 0 auto;	padding: 0 0 1em;}

ul.bbcode li {list-style: circle outside; font-size: 1.2em; }

.lde {padding: 0 1em; font: bold 1.2em Arial; color: #00C; text-decoration: underline;}

.menu {text-align: center;}

#menu {
	z-index: 9900;
	min-height: 50px;
	top: 0;
	margin: 0 auto;
	background: RGBa(0, 150, 200, .7);

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}


#menu ul {}

.menu ul li{ display: inline-block;}

.m1 a {}

.menu li a {
	display: block;
	margin: 5px 0 15px;
	height: 35px;
}

.menu li .active, .menu li:hover a {
  height: 30px;
  border-bottom: 5px solid #FFF;
}

.menu li:hover a {border-color: #F90;}

.menu li a b{
	padding: 0 1em;
	font-weight: normal;
	font-size: 1.4em;
	color: #FFF;
	text-shadow: 3px 3px 3px #000;
	text-transform: uppercase;
}

.width {width: 90%;}

#start_side {
	margin: 10px auto 10px;
	min-height: 500px;
}


#side {
	margin: 1em auto;
	/* width: 1100px; */
	width: 80%;
	padding: 1em 5%;
	min-height: 550px;
	background: RGBa(255,255,255, 0.8);
   border-radius: 16px;
}

.status {
	padding: 1em 0;
	width: 90%;
	margin: 0 auto;
}

.status iframe {display: block; position: relative; border: 1px solid #009; clear: left; margin: 5px 0; height: 20px; }

#galeria {
	margin: 60px auto 10px;
	width: 1100px;
	padding: 10px;
	min-height: 550px;
	background: RGBa(255,255,255, 0.5);
   border-radius: 16px;
}

#down_start {
	width: 90%;
	min-height: 50px;
	margin: 10px auto 0;
	background: RGBa(0, 150, 200, .8);
	border: 1px solid #FFF;
   border-radius: 8px;
}


#stopka_start {

	margin: 10px auto 50px;
	background: RGBa(0, 150, 200, .8);
	border: 1px solid #FFF;
   border-radius: 8px;
}

#stopka {
	margin: 1em auto;
	background: RGBa(0, 150, 200, .8);
	border: 1px solid #FFF;
   border-radius: 8px;
}

.footer {
	padding: 1em;
	text-align: center;
}

#pogoda1 {
	overflow: auto;
	width: 100%;
	text-align: center;
}

.pogoda1 {
	/*border: 1px solid black;  */
	display: inline-block;
	clear: right;
	width: 460px;
	height: 460px;
	border-radius: 10px;
	margin: 1em;
}

.pogoda2 {
	/*border: 1px solid black;  */
	display: inline-block;
	clear: right;
	width: 460px;
	height: 1030px;
	margin: 1px;
	vertical-align: top;
}



h2 {
	font: normal 1.5em Helvetica, sans-serif;
	padding: 1em .4em;
}

#pogoda1+blockquote {
	clear: both;
	width: 90%;
	margin: 0 auto;
	padding: 1em 10px;
	background: #F90;
	color: #000;
	border-radius: 10px;
}

#pogoda1+blockquote h3 {
	padding: 0 0 .5em;
	font: bold 1.3em Helvetica, sans-serif; color: #FF0;
	text-shadow: 3px 3px 3px #626262;
	letter-spacing: 1px;
}


#sat24 {
	width: 460px;
	height: 460px;
	overflow: hidden;
	border-radius: 16px;
}

#sat24 img {display: block; height: 460px;}

#icm div {padding: 1em; border: 1px solid #FFF; border-radius: 8px;}

#icm div span, #icm div a {font: normal 1.5em Arial; padding: .5em; background: #69F; color: #FFF;}

#icm div span { display: inline-block;  width: 300px; height: 2em; text-align: right;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

#icm div a {display: inline-block; width: 50px; height: 2em; text-align: center; background: #0C0; vertical-align: top;}
#icm div a+a {background: #C30;

}

#icm div a.wf {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}


.brak_pub {
	font: normal 2em /200% Arial;
	text-shadow: 3px 3px 10px #626262;
	padding: 2em 0;
	text-align: center;
}

.brak_pub b {display: block;}

h2 {
	padding: 10px 0;
	font: normal 2em Arial;
	text-shadow: 3px 3px 10px #626262;
	text-indent: 1em;
}

.zaj li {
	position: relative;
	width: 96%;
	overflow: auto;
	margin: 0 auto 1em;
	background: #FFF;
	border-radius: 10px;
}

.galeriaZaj {
	width: 350px;
	float: left;
	margin: 0 1em 1em;
	overflow: auto;
	/*border: 1px solid red; */
}

.galeriaZaj img {border-radius: 10px;}

.do_kadr {
	float: left;
	clear: right;
	border: 1px solid #00C;
}

.do_kadr p, .edFoto p {
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	color: #FFF; font: bold 1.4em Arial;
	text-shadow: 3px 3px 5px #FFF;
}

.edFoto p {font: bold 1em Arial;}

#galeria h1, .blog h1{
	font: normal 1.8em Arial;
	text-shadow: 4px 4px 10px #000;
	text-indent: 2em;
}

#galeria h2, .blog h2 {
	font: normal 1.5em Arial; color: #FFF;
	text-shadow: 4px 4px 10px #000;
	text-indent: 1em;
}


#galeria blockquote {
	padding: 1em 2em;
	background: #F2F2F2;
	border-radius: 16px;
}

#galeria blockquote img {
	border-radius: 10px;
	background: #FFF;

}

.fodown {

	width: auto;
	padding: 1em 0;
	text-align: center;
}

a.imgs {display: inline-block;}

.more {
	display: inline-block;
	padding: .4em 1em;
	background: #00F;
	color: #FFF;
	position: absolute;
	bottom: 5px;
	right: 5px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.more:hover {text-decoration: underline;}


.back {
	display: inline-block;
	padding: .4em 1em;
	margin: 1em 0;
	background: #00F;
	color: #FFF;
	bottom: 5px;
	right: 5px;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;
}

.back:hover {text-decoration: underline;}

.info {text-align: center;}

.g-post {top: 150px;}

.zaj li div.info {clear: both; height: 3em; width: 100%;}
.zaj li blockquote {margin-left: 1em;}

#smartfon {text-align: center;}

#testowy {
	width: 400px;
	margin: 0 auto;
}

#test {
	width: 400px;
	margin: 0 auto;
}

#test li {
	width: 100%;
	margin:2px;

	background: #FFF;

	border: 1px solid #000;
	border-radius: 5px;
}

#test .pyta {background: #0FF;}


#test li p {
	width: auto;
	padding: .5em 1em;

}

#test li.odp:hover {
	background: #CCF;
}

#test li.falsh {
	background: red;
}
#test li.falsh:hover {background: red;}

#testy {
	width: 400px;
	height: 40px;
	margin: 1em auto;

	background: #FFF;
	border-radius: 5px;
}

#testy li {
	width: 98px;
	height: 38px;
	margin: 1px;
	float: left;
	background: #FC6;
	border-radius: 4px;

}

#testy a {
	display: block;
	height: 38px;
	width: 98px;
	text-align: center;
	font: bold 1.2em/ 260% Arial;
}


#testy li:hover, #testy li.wyb {background: #30F;}

#testy li a:hover, #testy li.wyb a  {color: #FFF;}

#wyniki {text-align: center; overflow: auto;}

#wyniki b {
	display: block;
	float: left;
	width: 24%;
	margin: 0 0.5% 1em;
	padding: .5em 0;
	border-radius: 4px;
	background: #CFF;
}

#wyniki b i {font-weight: bold;}

#wyniki b.zle i {color: #F00;}
#wyniki b.count i, #wyniki b.wynik i {color: #00C;}

#wyniki+a, .test_nota {
	display: block;
	width: 200px;
	margin: 1em auto;
	padding: 1em;
	background: #03F;
	text-align: center; color: #FFF;
	border-radius: 5px;
}

.url2 {text-decoration: underline; color: #00C; font-weight : bold; }

#wyniki h2 {text-indent: 0;}

.ilustr {width: 99%; margin: 1em auto 0; text-align: center;}

.yt1, .yt2 {
	padding: 1em;
}


h3.mojeloty, p.mojlot {margin: .5em 0; font: bold 1.4em Arial;}
iframe.mojeloty {width: 100%; height: 700px;}

a.mojeloty { color: #00C;}
a.mojeloty:hover {text-decoration: underline; color: #F00;}

a.smart {
	display: inline-block;
	padding: .4em 1em;
	margin: 1em;
	text-align: center;
	font: bold 1.2em/ 120% Arial;
	background: #39F;
	border-radius: 5px;
}

a.smart:hover {	background: #3FF;}

#seorekl {width: 800px; margin: 5px auto;}


/* fan page wysuwany z prawej */

.fb, .fb_inside, .fb iframe {height: 550px;}

.fb h2 {color: #FFF; border: none;}

.fb {
	position: fixed;
	z-index: 9999;
	top: 100px;
	width: 8px;
	overflow: hidden;
	padding: 0 10px;
}

.fb:hover {width: 440px;}

.fb_inside {position: relative; top: 0px; padding-top: 10px; width: 100%; background: url(../skin/fb_tlo.png);}

#fb_right .fb_inside {left: 28px;}
#fb_left .fb_inside {left: -28px;}

#fb_right {right: 0; background: url(../skin/fbr.png) top left no-repeat;}
#fb_left {left: 0; background: url(../skin/fbl.png) top right no-repeat;}

.fb iframe {position: absolute; width: 300px;}

#fb_right iframe {left: 10px;}
#fb_left iframe {right: 10px;}


#rekl_head {
	width: 780px;
	margin: 5px auto;
}


/* kontakt */

#kontakt {
	margin: 0 auto;
	width: 70%;
}

.kontakt {overflow: auto;}

.kontakt form {position: relative; margin: 1em 0; padding: 1em 0;}

.kontakt input, .kontakt textarea {border-radius: 5px;}

.kontakt input[type=submit] {
	height: 150px;
	padding-top: 82px;
	width: 100px;
	background: url('../skin/send.png') top left no-repeat;
	text-transform: uppercase;
	color: #FFF;
}

.kontakt input[type=submit]:hover {background: url('../skin/send.png') top left no-repeat; color: #00C; font-weight: bold;}

.kontakt label{
	display: inline-block;
	/*float: left;  */
	clear: left;
	width: 30%; /* zmiana */
	height: auto;
	margin-right: .5em;
	padding-top: .8em;
	text-align: right;
	vertical-align: top;
}

.kontakt input[type=text], .kontakt textarea {padding: .2em .5em;  border:1px solid #555; color: #FFF; background: none;}

.kontakt input[type=text]:focus, .kontakt textarea:focus {color: #000; background: #CCC; border-color: #000;}

#textarea {	width: 70%; float: left;}

.kontakt form div {width: 70%; float: left; clear: left;}

.kontakt textarea {margin-top: 5px; width: 96%; height: 120px;}

.kontakt input {width: 60%; height: 26px;	margin: .5em 0;}

.kontakt .form_ster {position: absolute; top: 25px; right: 0; width: 100px; }

.kontakt h2, #kontakt .akapit {text-align: center;}

.er-wal {padding: .2em 1em; background: red; color: #FFF; }

/*.mapa {clear: both; margin: 0 auto 2em; padding: 2em 1em; border: 1px solid #CCC;} */


address {position: relative; width: 100%;	padding: 0 0 10px; margin-top: 10px;}

.adres_kontakt p {
	width: auto;
	margin-left: 0px;
	font: normal 2em/ 100% Arial; color: #FFF;
	text-align: right;
	text-shadow: 2px 2px 2px #999;
}

p.naz1, p.naz2 {font-size: 3em; text-shadow: 3px 3px 4px #595959;}
p.naz2 {margin-bottom: 10px;}

p.miasto, p.ulica, .woje {}

p.woje {padding: 10px 0; font-size: 1.4em;}

p.tel, p.mail {font-size: 1.2em;}

p.tel b, p.mail b {font-size: 130%;}

p.kontob {padding-top: .5em;}
p.miasto {float: right; margin-left: 1em;}

table#dlp_tab {clear: both; padding: 0; border-top: 1px solid #999; margin: 1em 0;}

table#dlp_tab td {text-align: center; border: 1px solid #999; margin: 0; padding: 0; color: #09C;}
table#dlp_tab td p {padding: 0 .2em; color: #FFF;}

table#dlp_tab td.winer {background: #C00; color: #F90; font-weight: bold;}
table#dlp_tab td.winer a {background: #C00; color: #F90; font-weight: bold; text-decoration: underline; width: 100%; height: 100%; display: block;}
table#dlp_tab td.winer p {color: #FFF; font-weight: bold;}
table#dlp_tab td.winer a:hover {background: #63F;}

table#dlp_tab td p:hover {color: #FFF;}

table#dlp_tab td a {text-decoration: underline; width: 100%; height: 100%; display: block;}
table#dlp_tab td a:hover {background: #63F; color: #FFF;}

table#dlp_tab td.suma {font-weight: bold;}



table#dlp_tab tr.tab_hed td {background: #009; border: 1px solid #009;}
table#dlp_tab tr.tab_hed td {padding: 0 0.2em;}


#opis_dlp a {font-weight: bold; color: #FFF; text-decoration: underline;}
#opis_dlp a:hover {color: #69F;}

#opis_dlp p b {font-weight: bold;}

#edit_dlp {clear: both; width: 100%; }

.edit_dlp {
	display: block;
	float:left;
	width: 200px;
	margin: 1em;
	padding: 1em;
	background: #03F;
	text-align: center; color: #FFF;
	border-radius: 5px;
}

#dlp2015 {
	margin: 1em auto;
	/* width: 1100px; */
	width: 80%;
	padding: 1em 5%;
	min-height: 550px;
	background: #009;
   border-radius: 16px;
}

#dlp2015 h2 {color: #F90;}

#opis_dlp p { color: #99F;}
